<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator">
        <activity
            android:name=".activities.FirstActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name="za.co.riggaroo.materialhelptutorial.tutorial.MaterialTutorialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="PCtoPE"
            android:theme="@style/AppTheme.NoActionBar.windowTranslucentStatus" />
        <activity
            android:name=".activities.ConversionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ConversionActivityOld"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zhufucdev.pctope.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.UserBugReport"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.DetailsActivity"
            android:label="@string/project_unnamed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.FileChooserActivity" />
        <activity android:name=".activities.ShowLogActivity" />
    </application>

</manifest>